
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/survey?retryWrites=true&w=majority

JWT_SECRET=yevruS!@#$%^&*()_+1234567890

# Setup for AUTH
CLIENT_URL=http://localhost:3000

# Setup for NodeMailer
NODEMAILER_EMAIL=utkarshdeolidev@gmail.com
NODEMAILER_EMAIL_PASSWORD=passwordexample

